<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ariana Songs</h1>
    <ul>
        <% arianaSongs.forEach(song => { %>
        <li>
            <%= song.name %> 
            - 
            <%= song.top3 ? 'top 3' : 'not top 3' %>
        </li>
        <% }) %>
    </ul>
</body>

</html>